<template>
	<div></div>
</template>

<script>
	export default {
		name: 'wf-authenticate',
		data() {
			return {};
		},
		methods: {
			signIn() {

				// Request an access token (login)
				client.getAccessToken().then(function (accessToken) {
			}),

			// Error handling
			.catch(function (e) {
				$('#accessToken').after(displayError(e));
			}),
		},
	};
</script>
